.footer {
    background: url(../img/footer-background.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;

    &__header {
        height: 448px;
        @include flex-center-space-between();

        @include tablet-style() {
            height: auto;
            display: block;
            padding: 58px 0 140px 0;
        }
    }
    
    &__manager-block, 
    &__subscribe-block {
        height: 100%;
    }
    
    &__manager-block {
        max-width: 360px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet-style() {
            margin: 0 auto 80px auto;
        }
    }
    
    &__description-manager {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        margin: 30px 0 0 0;
    }
    
    &__subscribe-block {
        @include flex-align-items-center();
        flex-direction: column;
        justify-content: center;

        @include tablet-style() {
            max-width: 360px;
            margin: 0 auto;
        }

        @include mobile-landscape-style() {
            max-width: 100%;
        }
    }
    
    &__caption-subscribe {
        @include font-size-weight(24px, 700);
        text-transform: uppercase;
        color: #222224;
    }
    
    &__description-subscribe {
        text-transform: uppercase;
        color: #222224;
        margin: 10px 0 0 0;

        @include mobile-landscape-style() {
            text-align: center;
            @include font-size-weight(14px, 700);
        }
    }
    
    &__form-subscribe {
        display: flex;
        margin: 30px 0 0 0;

        @include mobile-landscape-style() {
            width: 100%;
        }
    }
    
    &__form-input {
        width: 256px;
        height: 49px;
        @include border-radius(30px 0 0 30px);
        border: none;
        background: #E1E1E1;
        padding: 0 0 0 22px;

        @include mobile-landscape-style() {
            width: auto;
            flex: 1 1 auto;
        }
    }
    
    &__form-input::placeholder {
        color: #222224;
    }
    
    &__form-button {
        width: 100px;
        height: 49px;
        border: none;
        background: #F16D7F;
        @include border-radius(0 30px 30px 0);
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;

        @include mobile-landscape-style() {
            width: auto;
            flex: 0 1 96px;
        }
    }
    
    &__form-button:hover {
        background: #E05C6E;
    }
    
    &__bottom {
        height: 79px;
        background: #222224;

        .width-1600 {
            height: 100%;
        }

        @include mobile-landscape-style() {
            height: auto;
        }
    }
    
    &__wrapper-bottom {
        @include flex-center-space-between();
        height: 100%;

        @include mobile-landscape-style() {
        flex-direction: column-reverse;
        padding: 43px 0 9px 0;
        }
    }
    
    &__copyright {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;

        @include mobile-landscape-style() {
            margin: 40px 0 0 0;
        }
    }

    &__icon-social {
        fill: #fff;
    }

    &__icon-social:hover {
        fill: $pink-color-caption;
    }
}

