.header {
    height: 75px;
    background: $black-color;

    .width-1600 {
        height: 100%;
    }

    &__wrapper {
        @include flex-center-space-between();
        height: 100%;
        padding: 0 32px;

        @include mobile-landscape-style() {
            padding: 0;
        }
    }
    
    &__logo-icon {
        margin: 0 41px 0 0;
    }

    &__icon:hover {
        cursor: pointer;

        .header__icon-hover {
            fill: $pink-hover-color;
        }
        
    }
    
    &__button-menu {
        background: transparent;
        border: none;
        margin: 0 25px 0 0;

        @include mobile-landscape-style() {
            margin: 0;
        }
    }
    
    &__user-link {
        margin: 0 42px 0 0;

        @include mobile-landscape-style() {
            display: none;
        }
    }

    &__cart-link {
        position: relative;

        @include mobile-landscape-style() {
            display: none;
        }
    }

    &__cart-link::before {
        content: "5";
        display: block;
        position: absolute;
        width: 19px;
        height: 19px;
        right: -34%;
        top:  -100%;
        @include border-radius(50%);
        background: $pink-color-caption;
        @include flex-align-items-center();
        justify-content: center;
        @include font-size-line-height(12px, 14px);
        color: #FFFFFF;
    }
}

