.products {
    padding: 96px 0;

    @include mobile-landscape-style() {
        padding: 64px 0 96px 0;
    }

    &__caption, 
    &__desctiption {
        text-align: center;
    }

    &__caption {
        @include font-size-line-height(30px, 36px);
        color: #222222;
    }

    &__desctiption {
        @include font-size-line-height(14px, 17px);
        color: #9F9F9F;
        margin: 6px 0 0 0;
    }

    &__wrapper {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(290px, auto));
       grid-gap: 16px;
       margin: 48px 0;
    }

    &__item {

        background: #F8F8F8;
    }

    &__img {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }



    &__overlay-card-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(58, 56, 56, 0.86);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .3s;
    }

    &__img:hover &__overlay-card-img {
        opacity: 1;
    }

    &__button-add-cart {
        @include font-size-line-height(14px, 17px);
        width: 138px;
        height: 43px;
        background: transparent;
        border: 1px solid #FFFFFF;
        color: #fff;
        @include flex-center-space-between();
        padding: 0 13px;
        cursor: pointer;
    }

    &__button-add-cart:hover {
        border-color: $pink-hover-color;
        color: $pink-hover-color;

        .products__icon-add-cart {
            fill: $pink-hover-color;
        }
    }

    &__info-product {
        padding: 20px;
    }

    &__caption-info {
        @include font(13px, 700, 16px);
        text-transform: uppercase;
        color: #000000;
    }

    &__description-info {
        @include font(14px, 300, 17px);
        color: #5D5D5D;
        margin: 13px 0 0 0;
    }

    &__price-info {
        @include font-size-line-height(16px, 19px);
        color: $pink-color-caption;
        margin: 18px 0 0 0;
    }

    &__button-browse {
        display: block;
        margin: 0 auto;
        width: 211px;
        height: 47px;
        background: none;
        border: 1px solid #FF6A6A;
        @include font-size-line-height(16px, 19px);
        color: #F26376;
        cursor: pointer;
        transition: .3s;
    }

    &__button-browse:hover {
        background: $pink-color-caption;
        color: #fff;
    }
}

