.stocks {
    padding: 65px 0 0 0;

    @include tablet-style() {
        padding: 20px 0 0 0;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &__item {
        position: relative;
    }

    &__wrapper {
        margin: 0 -15px;

        @include tablet-style() {
            margin: 0 -10px;
        }
    }

    &__item {
        margin: 0 15px;

        @include tablet-style() {
            margin: 0 10px;
        }
    }

    &__item--one {
        background: url(../img/for-women.jpg);
    }
    
    &__item--two {
        background: url(../img/for-men.jpg);
    }
    
    &__item--three {
        background: url(../img/for-kids.jpg);
    }
    
    &__item--one, 
    &__item--two, 
    &__item--three {
        flex: 1 1 27%;
        height: 260px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include tablet-style() {
            height: 167px;
        }

        @include mobile-landscape-style() {
            flex: 1 1 100%;
            height: 247px;
            margin: 0 0 30px 0;
        }
    }
    
    
    
    &__item--four {
        width: 100%;
        height: 180px;
        background: url(../img/accesories.jpg);
        margin: 30px 15px 0 15px;

        @include tablet-style() {
            margin: 20px 10px 0 10px;
        }

        @include mobile-landscape-style() {
            margin: 0;
            height: 111px;
        }
    }
    
    &__transparent-block {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(33, 22, 22, 0.7); 
    }
    
    &__subcaption {
        text-transform: uppercase;
        color: #fff;
    }
    
    &__caption {
        @include font-size-weight(21px, 700);
        text-transform: uppercase;
        color: $pink-color-caption;
        margin: 6px 0 0 0;
        text-align: center;
    }
}

